h1{
    text-align: center;
    
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #acaca0;
    text-align:center;
    margin: 20px; 
}
.product-box {
    justify-content: center;
    align-self: center;
    background-color: white;
    width: 300px;
    margin:0 auto;
    padding:15px;
    border: 2px solid greenyellow;
    border-radius: 8px;
    text-align: center;

}
.product-box img {
    justify-content: center;
    align-self: center;
    width: 100%;
    height: auto;
    border-radius: 5px;
 text-align: center;
 

}
.product-box h2 {
    justify-content: center;
    align-items: center;
    
    color:black;
    font-size: 20px;
    margin-top: 10px;
     text-align: center;

}
.description {
    justify-content: center;
    align-items: center;
    color:dimgray;
     text-align: center;

}
.price {
    color:red;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;

}
button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;

}
button:hover {
    background-color: red;
}