  

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}


.block-menu a {
  display: block;
  background-color:purple;
  color: white;
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
}


.inline-menu a {
  display: inline;
  background-color: lavender;
  color: white;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}


.inline-block-menu a {
  display: inline-block;
  background-color: red;
  color: white;
  height: 50px;
  width: 120px;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
}


.float-menu a {
  float: right;
  background-color: orange;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
}

/* Clear Example */
.clear-example {
  clear: both;       /* This stops floating elements */
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ccc;
}