  body {
 
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.product-card {
  background-color: green;
  border: 3px solid black;
  border-radius: 15px;
  width: 280px;
  height: 420px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 150px;
  height: auto;
  margin-bottom: 15px;
}



.product-name {
  font-size: 20px;
  color: #222;
  margin-bottom: 8px;
}

.product-price {
  font-size: 18px;
  color: #111;
  font-weight: bold;
  margin-bottom: 15px;
}

.add-to-cart {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.add-to-cart:hover {
  background-color: #0056b3;
}