h1{
    text-align: center;
    color: blue;

}
p{
    text-align: left;
    color:brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
body{ 
    background-color: yellow;
}